{% extends "projects/base.html" %}
{% block content %}

<style>
    .clickable {
        cursor: pointer;
        text-decoration: none;
    }
</style>

<h1 class='text-center m-4'> All my tasks</h1>
{% if tasks %}
    <div class='container'>
        <table class="table">
            <thead style="background-color: #007bff;">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Creation date</th>
                    <th scope="col">End date</th>
                    <th scope="col">Is finished</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                {% for task in tasks %}
                    <tr {% if task.is_finished %}style='background-color: #87E990;'{% endif %} {% if task.is_past %}style='background-color: #f67280;'{% endif %}>
                        <td><a href="{% url 'projects:task_edit' task.id %}">{{ task.name }}</a></td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.creation_date }}</td>
                        <td>{{ task.end_date|default:"Not finished yet" }}</td>
                        {% if task.is_finished %}
                            <td>Finish</td>
                        {% else %}
                            <td><a  href="{% url 'projects:task_is_finished_a' task.id %}"><i class="ri-square-line"></i></a></td>
                        {% endif %}
                        </td>
                        <td>
                            <p class='text-primary pe-auto clickable'>Delete task</p>
                            <i style="display: none;" class="confirmation-text"><a href="{% url 'projects:delete_task_a' task.id %}">Confirm ?</a></i>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <h2 class='text-center'>You don't have tasks</h2>
        {% endif %}
    </div>

    <script>
        const clickableElements = document.querySelectorAll(".clickable");
    
        clickableElements.forEach(element => {
          element.addEventListener("click", () => {
            const tdElement = element.parentElement;
        
            const confirmationText = tdElement.querySelector(".confirmation-text");
            confirmationText.style.display = "block";
          });
        });
    </script>
    
{%endblock%}