{% extends "projects/base.html" %}
{% block content %}

<style>
    .clickable {
        cursor: pointer;
        text-decoration: none;
    }
</style>

<div class="text-lg-start mt-4 pt-2 ml-4 pl-3">
    <a href="{% url 'projects:index' %}">
        <button type="input" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Back</button>
    </a>
</div>

<div class='container'>
    <h1 class='text-center m-4'>Project : {{ project.name }} / <a  href="{% url 'projects:project_edit' project.id %}"> Edit</a></h1>
    <h2 class='text-center m-4'> Create a new task</h2>
    <form action="" method="post">
        {% csrf_token %}
        {% for field in form %}
        <p>{{ field.label }} :
        {{ field }}</p>
        {% endfor %}
        <div class="form-group">
            <button type="submit" class="btn btn-primary mt-4">Create task</button>
        </div>
    </form>
    {% if project.task_set.all %}
    <table class="table">
        <thead style="background-color: #007bff;">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Start date</th>
                <th scope="col">End date</th>
                <th scope="col">Finished ?</th>
                <th scope="col">Delete</th>
            </tr>
        </thead>
        <tbody>
            {% for task in project.task_set.all %}
                <tr {% if task.is_finished %}style='background-color: #87E990;'{% endif %} {% if task.is_past %}style='background-color: #f67280;'{% endif %}>
                    <td><a  href="{% url 'projects:task_edit' task.id %}">{{ task.name }}</a></td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.creation_date }}</td>
                    <td>{{ task.end_date }}</td>
                    {% if task.is_finished %}
                        <td>Finish</td>
                    {% else %}
                        <td><a  href="{% url 'projects:task_is_finished' project.id task.id %}"><i class="ri-square-line"></i></a></td>
                    {% endif %}
                    </td>
                    <td>
                        <p class='text-primary pe-auto clickable'>delete task</p>
                        <i style="display: none;" class="confirmation-text"><a href="{% url 'projects:delete_task' project.id  task.id%}">Confirm ?</a></i>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <h2 class="text-center">No tasks available.</h2>
    {% endif %}
</div>

<script>
    const clickableElements = document.querySelectorAll(".clickable");

    clickableElements.forEach(element => {
      element.addEventListener("click", () => {
        const tdElement = element.parentElement;
    
        const confirmationText = tdElement.querySelector(".confirmation-text");
        confirmationText.style.display = "block";
      });
    });
</script>
{%endblock%}