{% extends "projects/base.html" %}
{% block content %}

<h1 class='text-center m-4'>Edit : {{ project.name }}</h1>

<div class='container'>
    <form action="{% url 'projects:project_edit' project.id %}" method='POST'>
        {% csrf_token %}
        <div class="form-outline mb-4">
            <label>Project name :</label>
            <input type="text" class="form-control form-control-lg"
            value="{{ project.name }}" name="project-name" />
        </div>

        <div class="form-outline mb-4">
            <label>Project description :</label>
            <input type="text" class="form-control form-control-lg"
            value="{{ project.description }}" name="project-description" />
        </div>

        <div class="form-outline mb-4">
            <label>Project creation date :</label>
            <input type="text" class="form-control form-control-lg"
            value="{{ project.creation_date }}" name="project-creation_date" />
        </div>

        <div class="form-outline mb-4">
            <label>Project end date :</label>
            <input type="text" class="form-control form-control-lg"
            value="{{ project.end_date }}" name="project-end_date" />
        </div>

        <div class="form-outline mb-4">
            <label>Project is finished :</label>
            <input type="checkbox" class="form-control form-control-lg"
            name="project-is_finished" style='height: 1.5rem; width: 1.5rem;' {% if project.is_finished %} checked {% endif %}/>
        </div>

        <div class='text-center'>
            <button type="input" class="btn btn-primary btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;">Edit</button>
        </div>
    </form>
</div>


{%endblock%}
