{% extends "projects/base.html" %}
{% block content %}

<div class="text-lg-start mt-4 pt-2 ml-4 pl-3">
    <a href="{% url 'projects:all_tasks' %}">
        <button type="input" class="btn btn-primary btn-lg" style="padding-left: 2.5rem; padding-right: 2.5rem;">Back</button>
    </a>
</div>

<h1 class='text-center m-4'>Edit : {{ task.name }}</h1>
<div class='container'>
    <form action="{% url 'projects:task_edit' task.id %}" method='POST'>
        {% csrf_token %}
        <div class="form-outline mb-4">
            <label>Task name :</label>
            <input type="text" class="form-control form-control-lg"
            value="{{ task.name }}" name="task_name"/>
        </div>

        <div class="form-outline mb-4">
            <label>Task description :</label>
            <input type="text" class="form-control form-control-lg"
            value="{{ task.description }}" name="task_description" />
        </div>

        <div class="form-outline mb-4">
            <label>Task creation date :</label>
            <input type="text" class="form-control form-control-lg"
            value="{{ task.creation_date|date:'Y-m-d H:i:s' }}" name="task_creation_date" />
        </div>

        {% if task.is_finished %}
        <div class="form-outline mb-4">
            <label>Task end date :</label>
            <input type="text" class="form-control form-control-lg"
            value="{{ task.end_date|date:'Y-m-d H:i:s' }}" name="task_end_date" />
        </div>
        {% endif %}
        <div class='text-center'>
            <button type="input" class="btn btn-primary btn-lg"
            style="padding-left: 2.5rem; padding-right: 2.5rem;">Edit</button>
        </div>
    </form>
</div>


{%endblock%}